<div class="body">
  <h2 class="title">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-fields" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, class: "label" %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "input-fields" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-fields" %>
    </div>

    <div class="field">
      <%= f.label :current_password, class: "label" %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "input-fields" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "purple-btn" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "purple-btn" %></p>

  <span class="devise-links"><%= link_to "Back", :back %></span>

</div>