<!DOCTYPE html>
<html>
  <head>
    <title>Clubhuse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="nav-bar">
      <span class="logo"><%= link_to 'Clubhouse Aral', root_path %></span>
      <div class="row">
        <% if user_signed_in? %>
          <span><%= link_to current_user.author, edit_user_registration_path, class: "white-btn" %></span>
          <span><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "white-btn" %></span>
        <% else %>
          <span><%= link_to 'Sign Up', new_user_registration_path, class: "white-btn" %></span>
          <span><%= link_to 'Log In', new_user_session_path, class: "white-btn" %></span>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
